.Wrapper {
    padding: 20px;
    @media screen and (max-width:380px) {
        padding: 10px;
    }
}

.Title {
    font-weight: 300;
    text-align: center;
}

.Top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    @media screen and (max-width:380px) {
        padding: 20px 0;
    }
    .TopButton {
        padding: 10px;
        font-weight: 600;
        cursor: pointer;
        @media screen and (max-width:380px) {
            flex: 1;
        }
    }
    .TopTexts {
        @media screen and (max-width:380px) {
            flex: 1 1 auto;
            display: flex;
            flex-direction:column ;
        }
        .TopText {
            text-decoration: underline;
            cursor: pointer;
            margin: 0px 10px;
        }
    }
}



.Bottom {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width:380px) {
        flex-direction: column;
    }
    .Info {
        flex: 3;
        .Product {
            display: flex;
            justify-content: space-between;
            @media screen and (max-width:380px) {
                flex-direction: column;
            }
            .ProductDetail {
                flex: 2;
                display: flex;
            
                img {
                    width: 200px;
                }
            
                .Details {
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                }
            
                .ProductColor {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                }
            }
            .PriceDetail {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            
                .ProductAmountContainer {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                }
            
                .ProductAmount {
                    font-size: 24px;
                    margin: 5px;
                    @media screen and (max-width:380px) {
                        margin: 5px 15px;
                    }
                }
            
                .ProductPrice {
                    font-size: 30px;
                    font-weight: 200;
                    @media screen and (max-width:380px) {
                        margin-bottom: 20px;
                    }
                }
            }
        }
        hr {
            background-color: #eee;
            border: none;
            height: 1px;
        }
    }
    .Summary {
        flex: 1;
        border: 0.5px solid lightgray;
        border-radius: 10px;
        padding: 20px;
        height: 50vh;
        .SummaryTitle {
            font-weight: 200;
        }
        
        .SummaryItem {
            margin: 30px 0px;
            display: flex;
            justify-content: space-between;
        }
        
        .checkout {
            width: 100%;
            padding: 10px;
            background-color: black;
            color: white;
            font-weight: 600;
            border: none;
            outline: none;
        }
    }
}




